extends layout

block content
  if user
    div.welcomebox
      p.
        Welcome, #{user.username}
  else
    if invalid
      div.error-container
      p.
        Invalid username/password combination, please try again.
    div.login-logo
      img(src='images/tradingplaces.png')
    div.login-container
      p.header Sign in
      form(name="login", action="/users/login", method="post")
        div.fields-container
          if callbackURL
            input(type="hidden", name="callbackURL", id="callbackURL", value="#{callbackURL}")
          input(type="text", name="username", placeholder="Username")
          input(type="password", name="password", placeholder="Password")
        div.button-container
          input(type="submit", value="Continue")
    div.new-user-container
      p New user?&nbsp;
        a(href='/register') Sign-up
