extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    div.welcomebox
      p.
        Welcome, #{user.username}
  else
    if invalid
      div.invalidbox
      p.
        Invalid username/password combination, please try again.
    div.loginbox
      form(name="login", action="/users/login", method="post")
        input(type="text", name="username")
        input(type="password", name="password")
        input(type="submit", value="login")
    div.register-button
      button(type="button", onclick="location.href='/register';").
        Register
