doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/jquery-1.11.1.min.js')
    script(src='/javascript/javascript.js')
  body
    div(class='navigation-button')
      span —
    div(class='navigation-container')
      div(class='header-text')
        h1 Trading Places
      div(class='navigation-item')
        span(class='navigation-item-text selected') My People
      div(class='navigation-item')
        span(class='navigation-item-text') Find
      div(class='right-container')
        span(class='logout-text') Gru's Name ▼
    div(class='content-wrapper')
      block content
