doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/jquery-1.11.1.min.js')
    script(src='/javascript/jquery-validation/dist/jquery.validate.min.js')
body
    div(class='navigation-button')
      span —
    div(class='navigation-container')
      div(class='header-text')
        a(href='/')
          h1 Trading Places
      div(class='navigation-item')
        a(class='navigation-item-text', href='/mypeople') My People
      div(class='navigation-item')
        a(class='navigation-item-text', href='/find') Find
      div(class='right-container')
        if user
          span(class='logout-text') #{user.username}
            a(href='/users/logout') (Logout)
    div(class='content-wrapper')
      block content
