// Created by ccu04 on 20/11/2014.
extends layout
block content
  if user_exists
    div
      p.
        Errr no
  div.register-form
      form(name="register", id="register", action="/users/register", method="post")
        div Username:
          input(type="text", name="username", id="username", minlength="3", required)
        div Password:
          input(type="password", id="password", name="password", minlength="3", required)
        div Password Confirmation:
          input(type="password", id="password_confirmation", name="password_confirmation", minlength="3", required)
        div Email:
          input(name="email", type="email", required)
        div First name:
          input(type="text", name="first_name", id="first_name", required)
        div Surname:
          input(type="text", name="surname", id="surname", required)
        div Number of team members:
          input(type="number", name="num_team_members", id="num_team_members", required)
        div Department:
          input(type="text", name="department", id="department", required)
        div
          input(type="submit", value="register")

   script.
     $("#register").validate({
       rules: {
         password: 'required',
         password_confirmation: {
           equalTo: '#password'
         }
       }
     });