//
   Created by ccu04 on 20/11/2014.

div.registerForm
   form(name="register", action="/register", method="post")
      input(type="text", name="user")
      input(type="password",name="pass")
      input(type="submit", value="register")