// Created by ccu04 on 20/11/2014.
extends layout
block content
   div.register-form
      form(name="register", action="/users/register", method="post")
        div
          input(type="text", name="username")
        div
          input(type="password", name="password")
        div
          input(type="email", name="email")
        div
          input(type="text", name="firstName")
        div
          input(type="text", name="surname")
        div
          input(type="text", name="numberOfTeamMembers")
        div
          input(type="submit", value="register")
