html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSansRegular', "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

input {
  font-family: 'OpenSansRegular', "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Fonts */

@font-face {
  font-family:'OpenSansRegular';
  src: url('/fonts/OpenSans_Regular.eot');
  src: url('/fonts/OpenSans_Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans_Regular.woff') format('woff'),
  url('/fonts/OpenSans_Regular.ttf') format('truetype'),
  url('/fonts/OpenSans_Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'OpenSansLight';
  src: url('/fonts/OpenSans_Light.eot');
  src: url('/fonts/OpenSans_Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans_Light.woff') format('woff'),
  url('/fonts/OpenSans_Light.ttf') format('truetype'),
  url('/fonts/OpenSans_Light.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: 'CodeProLight';
  src: url('/fonts/code_pro_light_demo-webfont.eot');
  src: url('/fonts/code_pro_light_demo-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/code_pro_light_demo-webfont.woff2') format('woff2'),
  url('/fonts/code_pro_light_demo-webfont.woff') format('woff'),
  url('/fonts/code_pro_light_demo-webfont.ttf') format('truetype'),
  url('/fonts/code_pro_light_demo-webfont.svg#code_pro_light_demoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #00B7FF;
}

input[type=text], input[type=password] {
  padding: 5px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  color: #000000;
  border-radius: 2px;
  font-size: 12px;
}

input[type=submit] {
  border: 0 none;
  padding: 8px;
  border-radius: 3px;
  background: #5aa77e;
  color: #ffffff;
}

.content-wrapper {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}


.navigation-container {
  top: 0;
  left: 0;
  width: 900px;
  margin: 0 auto;
  min-height: 50px;
  background: white;
  color: #000000;
  z-index: 1000;
  padding: 0px 0px;
}

.navigation-container .header-logo {
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height:50px;
  vertical-align: top;
  margin-right: 80px;
  margin-left: 00px;
}

.navigation-container .header-logo img {
  margin-top: 14px;
  width: 220px;
}

.navigation-container .navigation-items {
  padding: 15px;
  display: inline-block;
  height: 30px;
}

.navigation-container .navigation-item {
  text-align: center;
  display: inline-block;
  margin-right: 50px;
  height: 50px;
  line-height:50px;
  vertical-align: top;
}

.navigation-container .navigation-item:hover {

}

.navigation-container .navigation-item:active {

}

.navigation-container .right-container {
  margin-top: 15px;
  display: inline-block;
  float: right;
  text-align: center;
}

.navigation-container .right-container .item {
  display: inline-block;
  background: #43647C;
  color: #ffffff;
  padding: 7px 15px;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
}

.navigation-container .right-container .item-user {
  display: inline-block;
  background: #efefef;
  border: 1px solid #ababab;
  color: #000000;
  padding: 7px 15px;
  margin-left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
}

.add-team-member-button {
  display: inline-block;
  background: #43647C;
  color: #ffffff;
  padding: 7px 15px;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
}

.first-item {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.navigation-container .right-container span.logout-text {
  color: #000000;
  font-size: 13px;
  line-height: 50px;
  margin-left: 10px;
}

.navigation-container .right-container span.logout-text a.logout {
  background: #B54848;
  padding: 7px 9px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
  margin-left: 10px;
}

.navigation-container .navigation-item a.navigation-item-text {
  color: #000000;
  font-size: 13px;
  text-decoration: none;
  padding: 6px 10px;
}

.navigation-container .navigation-item a.navigation-item-text:hover {
  border-bottom: 3px solid #f6cb5d;
}

.navigation-container .navigation-item a.selected {
  border-bottom: 3px solid #f6cb5d;
}



.navigation-container .navigation-items .navigation-item-badge {
  height: 30px;
  min-width: 20px;
  line-height: 30px;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background: #5aa77e;
  right: 50px;
  position: absolute;
}

.navigation-container .navigation-items .navigation-item-badge span {
  color: #ffffff;
  font-size: 15px;
}

.navigation-container .navigation-bottom-bar {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.13);
  position: absolute;
  bottom: 0;
  text-align: center;
}

.navigation-container .navigation-bottom-bar span {
  color: #ffffff;
  font-size: 13px;
  line-height: 40px;
}


.login-container {
  background: #e8e8e8;
  border-radius: 5px;
  margin: 0 auto;
  width: 300px;
  padding: 0;
  overflow: hidden;
}

.login-container p.header {
  margin: 0;
  margin-top: 13px;
  font-size: 10px;
  text-transform: uppercase;
}

.login-container input[type=text],input[type=password] {
  width: 240px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #898989;
  box-shadow: 0 0 2px #989898;
  padding-left: 10px;
  padding-right: 10px;
}

.login-container .fields-container {
  text-align: center;
  padding-top: 10px;
}

.login-container .button-container {
  background: #43647C;
  text-align: center;
  padding: 5px;
  margin-top: 8px;
}

.login-container .button-container input[type=submit] {
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
}

.new-user-container {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 10px;
}

.new-user-container p {
  margin: 0;
  color: #676767;
}

.new-user-container p a {
  text-decoration: underline;
  color: #323232;
}

.error-container {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 10px;
}


.register-container {
  background: #e8e8e8;
  border-radius: 5px;
  margin: 0 auto;
  width: 300px;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
}

.register-container p.header {
  margin: 0;
  margin-top: 13px;
  font-size: 10px;
  text-transform: uppercase;
}

.register-container #errors {
  margin: 0;
  margin-left: 20px;
  font-size: 10px;
}

.register-container input[type=text],input[type=password],input[type=email],input[type=number] {
  width: 240px !important;
  height: 20px !important;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #898989;
  box-shadow: 0 0 2px #989898;
  padding-left: 10px;
  padding-right: 10px;
}

.register-container .fields-container {
  text-align: center;
  padding-top: 10px;
}

.register-container .button-container {
  background: #43647C;
  text-align: center;
  padding: 5px;
  margin-top: 8px;
}

.register-container .button-container input[type=submit] {
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
}



.add-person-container {
  background: #e8e8e8;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 350px;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
  display: none;
}

.add-person-container p.header {
  margin: 0;
  margin-top: 13px;
  font-size: 10px;
  text-transform: uppercase;
}

.add-person-container #errors {
  margin: 0;
  margin-left: 20px;
  font-size: 10px;
}

.add-person-container .fields-container input[type=text],input[type=email],input[type=number] {
  width: 290px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #898989;
  box-shadow: 0 0 2px #989898;
  padding-left: 10px;
  padding-right: 10px;
}

.add-person-container .fields-container {
  text-align: center;
  padding-top: 10px;
}

.add-person-container .button-container {
  background: #43647C;
  text-align: center;
  padding: 5px;
  margin-top: 8px;
}

.add-person-container .button-container input[type=submit] {
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
}

.add-person-container .fields-container #availability-container {
  display: none;
}



.team-members-container {
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 0px;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
}

.team-members-container .column {
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
}

.team-members-container .column-header {
  background: #323232;
  color: #ffffff;
}

.team-members-container table {
  min-width: 900px;
  max-width: 900px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

.team-members-container table tr td {
  padding: 6px 15px;
  text-align: center;
  border: 0 none;
}

.team-members-container table tr td.header {
  background: #43647C;
  color: #ffffff;
  padding: 9px 15px;
  text-transform: uppercase;
}


.team-members-container table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:7px;
  -webkit-border-bottom-left-radius:7px;
  border-bottom-left-radius:7px
}

.team-members-container table tr:last-child td:last-child {
  -moz-border-radius-bottomright:7px;
  -webkit-border-bottom-right-radius:7px;
  border-bottom-right-radius:7px
}

.team-members-container table tr:first-child td:first-child {
  -moz-border-radius-topleft:7px;
  -webkit-border-top-left-radius:7px;
  border-top-left-radius:7px
}

.team-members-container table tr:first-child td:last-child {
  -moz-border-radius-topright:7px;
  -webkit-border-top-right-radius:7px;
  border-top-right-radius:7px
}


.team-members-container .member-row td {
  background: #e8e8e8;
}

.team-members-container .skills {
  text-align: left;
  vertical-align: top;
  margin: 0;
}

.team-members-container .skill-header {
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  color: #434343;
  background: #cdcdcd;
}

.team-members-container .skill-content {
  padding: 5px 0px 5px 5px;
}

.success-box {
  background: #90C487;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 20px 0px;
  min-width: 50px;
  display: inline-block;
}

.error-box {
  background: #90C487;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 20px 0px;
  min-width: 50px;
  display: inline-block;
}

.login-logo {
  display: inline-block;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 10px;
}

.login-logo img {
  width: 250px;
}

.available-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #82BA8B;
}

.request-link-container {
  margin-top: 5px;
}

.request-link {
  padding: 5px 8px;
  background: #D3E4F7;
  border: 1px solid #99B3D5;
  color: #6583AB;
  border-radius: 4px;
  text-decoration: none;
}

.request-link:hover {
  background: #BACBDE;
  color: #536B8C;
}

.request-link:active {
  background: #445873;
  border: 1px solid #445873;
  color: #ffffff;
}

a.login-link {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.team-members-container tr.target {
  background: #D3DAED;
}

.dropdown-item {
  color: #000000;
  font-size: 11px;
}

.dropdown-item a {
  color: #000000;
}